@tailwind base;
@tailwind components;
@tailwind utilities;



.ProseMirror {
  @apply bg-input-gray p-5 outline-none;
}

.btn {
  @apply mr-4;
  transition: 300ms;
}

.btn:hover {
  @apply p-2 bg-editor-white rounded-lg;
}

.btn-active {
  @apply mr-4 p-2 bg-editor-white rounded-lg;
  transition: 300ms;
}


h1 {
  @apply text-3xl font-bold
}

h2 {
  @apply text-xl font-bold
}

h3 {
  @apply text-lg font-bold
}

bold {
  @apply font-bold
}

em {
  @apply italic 
}

.code {
  @apply p-1 text-sm text-gray-700 bg-slate-400 rounded-lg;
}

blockquote {
  border-left: 3px solid black;
  padding-left: 1rem;
}

ul {
  @apply list-disc;
  padding: 0 1rem;
}

ol {
  @apply list-decimal;
  padding: 0 1rem;
}


p{
  margin: 0;
}

ul[data-type="taskList"] > li{
  display: flex;
}

li > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }


li > div {
      flex: 1 1 auto;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

pre {
  @apply p-2 bg-gray-900 text-editor-white rounded-lg;
}


